      {% load static %}

                    <div class="col-6 ">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">Data Uploaded</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{dataUploaded}}</h2>
                                    <a href="/uploadedFiles" class="text-white mb-0">See My Data</a>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-cloud-upload" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 ">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Data Preprocessed</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{preproccessedData}}</h2>
                                    <a href="/uploadedFiles" class="text-white mb-0">Check it Here</a>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-table" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>



      <div class="col-6 ">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Supervised Data</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{supervisedData}}</h2>
<!--                                    <a href="/uploadedFiles" class="text-white mb-0">Check it Here</a>-->
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-tags" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>


      <div class="col-6 ">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Unsupervised Data</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{unsupervisedData}}</h2>
<!--                                    <a href="/uploadedFiles" class="text-white mb-0">Check it Here</a>-->
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-file-excel-o" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>





                    <div class="col-6 ">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Models Trained</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{modelsTrained}}</h2>
                                    <a href="/classification" class="text-white mb-0">Check it Here</a>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-sun-o" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>

                <div class="col-6 ">
                        <div class="card gradient-4">
                            <div class="card-body">
                                <h3 class="card-title text-white">Visualised Data</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{modelsTrained}}</h2>
                                    <a href="/All-Results" class="text-white mb-0">Check it Here</a>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-area-chart" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>