<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ML Models</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>


<body>
<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>


    <style>
        .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-dialog {
    background: transparent;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.modal-content {
    position: relative;
    background: white;
    border-radius: 10px;
}

.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-close {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
}

    </style>

    <div id="preloader" >
        <div class="loader" style="width: 500px ; height: 500px">
<!--<dotlottie-player src="https://lottie.host/536a5328-c078-4a92-98c8-320e696cae33/kzowC3QV5z.lottie" background="transparent" speed="2" style="width: 80%; height: 80%" loop autoplay></dotlottie-player>-->
<dotlottie-player src="https://lottie.host/e3ba4973-1e80-4402-8d9c-a2c979f3603b/PBlrf0y54g.lottie" background="transparent" speed="1.5" style="width: 100%; height: 100%" loop autoplay></dotlottie-player>
         </div>
    </div>

    <div id="main-wrapper"  style="min-height: 130vh !important;">

    {% include "navbar.html" %}

    {% include "sideBar.html" %}
        <div class="content-body">
            <div class="container-fluid">
                <h3 style="padding: 10px">Choose a Machine Learning Model To Train</h3>
                <div class="row">

                    <div class="col-3">
                        <div class="card bg-pink shadow-lg">
                            <div class="card-body ">
                                <div class="text-center ">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" style="color: white" data-fa-transform="shrink-2 up-4"></i>
                                    </span>
                                    <h2 class="mt-1" style="color: white">AutoML</h2>
                                    <p style="color: white">General Purpose</p>
                                    <button class="btn gradient-10 btn-md border-0 btn-rounded px-5"
                                            onclick="openModal(this)">
                                        Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                    </span>
                                    <h2 class="mt-1">Logistic Regression</h2>
                                    <p>Binary Classification</p>
                                    <button class="btn gradient-8 btn-md border-0 btn-rounded px-5"
                                            onclick="openModal(this)">
                                        Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                 <div class="col-3 ">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                        </span>
                                    <h2 class="mt-1">Naive bayes</h2>
                                    <p>Classification</p>
                                    <button class="btn gradient-8 btn-md border-0 btn-rounded px-5"
                                    onclick="openModal(this)">
                                    Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 ">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                        </span>
                                    <h2 class="mt-1">Decision Tree</h2>
                                    <p>Classification</p>
                                    <button class="btn gradient-8 btn-md border-0 btn-rounded px-5"
                                    onclick="openModal(this)">
                                    Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-3 ">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                        </span>
                                    <h2 class="mt-1">Random Forests</h2>
                                    <p>Classification</p>
                                    <button class="btn gradient-8 btn-md border-0 btn-rounded px-5"
                                    onclick="openModal(this)">
                                    Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 ">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                        </span>
                                    <h2 class="mt-1">LightGBM</h2>
                                    <p>Classification</p>
                                    <button class="btn gradient-8 btn-md border-0 btn-rounded px-5"
                                    onclick="openModal(this)">
                                    Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 ">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                        </span>
                                    <h2 class="mt-1">XG Boost</h2>
                                    <p>Classification</p>
                                    <button class="btn gradient-8 btn-md border-0 btn-rounded px-5"
                                    onclick="openModal(this)">
                                    Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 ">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                        </span>
                                    <h2 class="mt-1">Support Vector Machines (SVC)</h2>
                                    <p>Classification</p>
                                    <button class="btn gradient-8 btn-md border-0 btn-rounded px-5"
                                    onclick="openModal(this)">
                                    Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 ">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                        </span>
                                    <h2 class="mt-1">K Nearest Neighbors</h2>
                                    <p>Classification</p>
                                    <button class="btn gradient-8 btn-md border-0 btn-rounded px-5"
                                    onclick="openModal(this)">
                                    Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="col-3 ">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                        </span>
                                    <h2 class="mt-1">Reseau Neurons</h2>
                                    <p>Classification</p>
                                    <button class="btn gradient-8 btn-md border-0 btn-rounded px-5"
                                    onclick="openModal(this)">
                                    Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- #/ container -->
        </div>

{% include "footer.html" %}

    </div>

<!-- Modal -->
<div class="modal" id="trainModal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trainModalLabel">Train Model</h5>
                <button type="button" class="btn-close" onclick="closeModal()">×</button>
            </div>

            <div class="modal-body">
    <form id="trainForm">
        {% csrf_token %}

        <div class="mb-3">
            <label for="modelName" class="form-label">Model</label>
            <input type="text" class="form-control" id="modelName" readonly>
        </div>
        <div class="mb-3">
            <label for="ChosentrainingFile" class="form-label">Select Training Dataset</label>
            <select style="width: 100%; padding: 6px" name="ChosentrainingFile" id="ChosentrainingFile">
                {% for file in processeddatasets %}
                    {% if file.raw_dataset.TargetColumn %}
                        <option value="{{file.id}}">{{file.raw_dataset.datasetCostumName}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="autoMode" class="form-label">Hyperparameter Tuning</label>
            <select class="form-control" id="autoMode" onchange="toggleHyperparameters()">
                <option value="true">Automatic</option>
                <option value="false">Manual</option>
            </select>
        </div>

        <div class="mb-3" id="hyperparameters">
            <!-- Hyperparameters will be dynamically loaded here -->
        </div>
    </form>
</div>

<!--            -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" onclick="startTraining()">Start Training</button>
            </div>
        </div>
    </div>
</div>

    <script>

const hyperparameterOptions = {
    "AutoML": [
        { name: "max_runtime_secs", label: "Max Trainig Time (sec)", type: "number", default: 30, step: 1 },
        { name: "max_models", label: "Number of Models to train", type: "number", default: 3, step: 1 }
    ],
     "Logistic Regression": [
        { name: "max_iter", type: "number", id: "max_iter", default: 100 }
    ],

    "Naive bayes": [
        { name: "Smoothing", type: "number", id: "Smoothing", default: 1.0 }
    ],
    "Decision Tree": [
        { name: "Max Depth", type: "number", id: "maxDepth", default: 5 },
        { name: "Min Samples Split", type: "number", id: "minSamplesSplit", default: 2 }
    ],
    "Random Forests": [
        { name: "Number of Estimators", type: "number", id: "nEstimators", default: 100 },
        { name: "Max Depth", type: "number", id: "maxDepth", default: 5 }
    ],
    "LightGBM": [
        { name: "Learning Rate", type: "number", id: "learningRate", default: 0.1 },
        { name: "Number of Leaves", type: "number", id: "nLeaves", default: 31 },
        { name: "number of class", type: "number", id: "num_class", default: "2" },
    ],
    "XG Boost": [
        { name: "nEstimators", type: "number", id: "nEstimators", default: 20 },
        { name: "Max Depth", type: "number", id: "maxDepth", default: 6 }
    ],
    "Support Vector Machines (SVC)": [
        { name: "Kernel", type: "text", id: "kernel", default: "rbf" },
        { name: "C", type: "number", id: "C", default: 1.0 }
    ],
    "K Nearest Neighbors": [
        { name: "Number of Neighbors", type: "number", id: "nNeighbors", default: 5 },
        { name: "Weights", type: "text", id: "weights", default: "uniform" }
    ],
       "Reseau Neurons": [
        { name: "hidden_layer_sizes", label: "Hidden Layer Sizes", type: "text", default: "10" },
        { name: "activation", label: "Activation Function", type: "text", default: "relu" },
        { name: "solver", label: "Solver", type: "text", default: "adam" }
    ]

};

function closeModal() {
    const modal = document.getElementById('trainModal');
    modal.style.display = 'none'; // Hide modal
}

function toggleHyperparameters() {
    const mode = document.getElementById('autoMode').value;
    const hyperparamsContainer = document.getElementById('hyperparameters');

    if (mode === "true") {
        // Hide hyperparameters for Auto mode
        hyperparamsContainer.style.display = "none";
    } else {
        // Show hyperparameters for Manual mode
        hyperparamsContainer.style.display = "block";
    }
}

function startTraining() {
    modelName = document.getElementById('modelName').value;

    if (modelName === 'LightGBM'){
        modelName = "Classification LightGBM"
    }


    const fileInput = document.getElementById('ChosentrainingFile');

    const autoMode = document.getElementById('autoMode').value === "true";

    if (!fileInput.value) {
        alert('Please select a file to train.');
        return;
    }

    const postBody = { auto: autoMode };

    if (!autoMode) {
        const hyperparameters = {};
        document
            .getElementById('hyperparameters')
            .querySelectorAll('input')
            .forEach(input => {
                 hyperparameters[input.name] = input.value;
            });
        postBody.hyperparameters = hyperparameters;
    }

    // Creating the form dynamically and submitting it
            const form = document.createElement("form");
            const csrfInput = document.createElement("input");
            csrfInput.type = "hidden";
            csrfInput.name = "csrfmiddlewaretoken";
            csrfInput.value = "{{ csrf_token }}";
            form.appendChild(csrfInput);

            // Add the hidden input for the params
            const paramsInput = document.createElement("input");
            paramsInput.type = "hidden";
            paramsInput.name = "params";
            paramsInput.value = JSON.stringify(postBody);
            form.appendChild(paramsInput);

            // Append the form to the document
            document.body.appendChild(form);

            // Set the URL and submit the form
            const url = `/train_model/${modelName}/${fileInput.value}/supervised/`;
            form.method = "POST";
            form.action = url;
            form.submit();


    closeModal();

    // Start the preloader animation
            const preloader = document.getElementById("preloader");
            preloader.style.display = "block";
}

function openModal(clickedmodel) {
    const modelNameElement = clickedmodel.parentNode.querySelector('h2');
    const modelName = modelNameElement.innerText;
    document.getElementById('modelName').value = modelName;

    // Populate hyperparameters
    const hyperparamsContainer = document.getElementById('hyperparameters');
    hyperparamsContainer.innerHTML = ""; // Clear existing inputs
    const params = hyperparameterOptions[modelName];
    if (params) {
        params.forEach(param => {
            const label = document.createElement('label');
            label.textContent = param.name;
            label.setAttribute('for', param.id);
            label.classList.add('form-label');

            const input = document.createElement('input');
            input.type = param.type;
            input.id = param.id;
            input.name = param.name;
            input.value = param.default;
            input.classList.add('form-control');

            const div = document.createElement('div');
            div.classList.add('mb-3');
            div.appendChild(label);
            div.appendChild(input);

            hyperparamsContainer.appendChild(div);
        });
    }

    // Reset mode to Auto
    document.getElementById('autoMode').value = "true";
    toggleHyperparameters();

    const modal = document.getElementById('trainModal');
    modal.style.display = 'flex'; // Show modal
}

    </script>

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'plugins/common/common.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/gleek.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>

</body>


</html>