{% load static %}

<style>
    * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  margin: auto;
  max-width: 640px;
  padding-top: 60px;
  text-align: center;
}

.container {
  background-color: #7571f9;
  padding: 20px;
  border-radius: 10px;
  /*border: 0.5px solid rgba(130, 130, 130, 0.25);*/
  /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1),
              0 0 0 1px rgba(0, 0, 0, 0.1);*/
}

h1 {
  color: #ffffff;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: -.5px;
  font-weight: 700;
  padding-bottom: 10px;
}

.upload-container {
  background-color: rgb(239, 239, 239);
  border-radius: 6px;
  padding: 10px;
}

.border-container {
  border: 5px dashed rgba(198, 198, 198, 0.65);
/*   border-radius: 4px; */
  padding: 20px;
}

.border-container p {
  color: #130f40;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 0;
  opacity: 0.65;
}

#file-browser {
  text-decoration: none;
  color: rgb(22,42,255);
  border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
}

#file-browser:hover {
  color: rgb(0, 0, 255);
  border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
}

.icons fa-4x {
  color: #95afc0;
  opacity: 0.55;
}


.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
  text-align: left;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>






<div class="wrapper">
  <div class="container">
    <h1>Upload a Dataset</h1>
    <div class="upload-container">
      <div class="border-container">
        <div class="icons fa-4x">
          <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
          <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
          <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
        </div>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <input type="file" style="display: none" id="file-upload" accept=".csv, .xlsx, .xls">
        <p>Drag and drop files here, or <a onclick="uploadFile()" id="file-browser">browse</a> your computer.</p>
      </div>
        <button id="sbmtbtn" style="display: none" type="submit" class="btn login-form__btn submit w-100 mt-3">Proceed</button>
    </div>
  </div>
</div>

<div id="modal" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close-btn" onclick="closeModal()">×</span>
    <h2>Dataset Details</h2>
    <form id="target-column-form">

      <h3>Select Target Column</h3>
      <!-- Target column options will be dynamically added here -->
    </form>
    <button onclick="submitTargetColumn()" class="btn login-form__btn submit w-100 mt-3">Submit</button>
  </div>
</div>



<script>
    // $("#file-upload").css("opacity", "0");
function uploadFile() {
    document.getElementById('file-upload').click();
    document.getElementById('sbmtbtn').style.display = '';
}

    function ReadFileColumns() {
  const fileInput = document.getElementById('file-upload');
  const file = fileInput.files[0];

  if (!file) {
    alert('Please upload a valid file.');
    return;
  }

  const fileType = file.type;
  if (fileType === 'text/csv' || fileType === 'application/vnd.ms-excel') {
    const reader = new FileReader();
    reader.onload = function (e) {
      const content = e.target.result;
      const columns = parseColumns(content, fileType);
      showModal(columns);
    };
    reader.readAsText(file);
  } else {
    alert('Invalid file type. Please upload a CSV or Excel file.');
  }
}

function parseColumns(content, fileType) {
  let columns = [];
  if (fileType === 'text/csv') {
    const rows = content.split('\n');
    columns = rows[0].split(','); // Assuming the first row contains headers
  } else if (fileType.includes('excel')) {
    const workbook = XLSX.read(content, { type: 'binary' });
    const sheetName = workbook.SheetNames[0];
    const sheet = workbook.Sheets[sheetName];
    const headers = XLSX.utils.sheet_to_json(sheet, { header: 1 })[0];
    columns = headers || [];
  }
  return columns;
}


function closeModal() {
  const modal = document.getElementById('modal');
  modal.style.display = 'none';
}

function showModal(columns) {
  const modal = document.getElementById('modal');
  const form = document.getElementById('target-column-form');
  form.innerHTML = ''; // Clear previous content

  // Add the custom-name input field
  form.innerHTML += `
    <div>
      <label for="custom-name">Dataset Custom Name:</label>
      <input type="text" id="custom-name" style="padding: 5px; width: 220px" name="custom-name" placeholder="Enter a name for the dataset " required>
    </div>
  `;

  if (columns.length === 0) {
    form.innerHTML += '<p>No columns found. Please check the file format.</p>';
  } else {
    columns.forEach((column) => {
      const radioBtn = `<label>
        <input type="radio" name="target-column" value=${column}> ${column}
      </label><br>`;
      form.innerHTML += radioBtn;
    });
  }

  // Log the current form HTML for debugging
  console.log(form.innerHTML);

  modal.style.display = 'block';
}


document.addEventListener('DOMContentLoaded', () => {
  const proceedButton = document.getElementById('sbmtbtn');
  if (proceedButton) {
    proceedButton.addEventListener('click', ReadFileColumns);
  }
});

// document.getElementById('sbmtbtn').addEventListener('click',ReadFileColumns);
function submitTargetColumn() {
  const selectedColumn = document.querySelector('input[name="target-column"]:checked')?.value;
  const customName = document.getElementById('custom-name').value;

  if (!customName) {
    alert('Please provide a custom name for the dataset.');
    return;
  }

  if (!selectedColumn) {
    alert('Please select a target column.');
    return;
  }

  const fileInput = document.getElementById('file-upload');
  const file = fileInput.files[0];
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  const formData = new FormData();
  formData.append('file', file);
  formData.append('target_column', selectedColumn);
  formData.append('custom_name', customName);

  fetch('/uploadDataFile', {
    method: 'POST',
    body: formData,
    headers: {
      'X-CSRFToken': csrftoken,  // Include the CSRF token in the request header
    },
  })
    .then(response => {
      if (response.status === 200) {
        return response.json();
      } else {
        return Promise.reject('Error: ' + response.status);
      }
    })
    .then(data => {
      window.location.href = '/uploadedFiles'; // Redirect to /home
    })
    .catch(error => {
      console.error(error);
    });

  closeModal();
}

// function submitTargetColumn() {
//   const selectedColumn = document.querySelector('input[name="target-column"]:checked')?.value;
//   console.log('selectedcolumn :'+selectedColumn)
//
//   // const selectedColumn = document.querySelector('input[name="target-column"]:checked').value;
//   const fileInput = document.getElementById('file-upload');
//   const file = fileInput.files[0];
// const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
//
//   const formData = new FormData();
//   formData.append('file', file);
//   formData.append('target_column', selectedColumn);
//
// fetch('/uploadDataFile', {
//   method: 'POST',
//   body: formData,
//   headers: {
//     'X-CSRFToken': csrftoken,  // Include the CSRF token in the request header
//   },
// })
// .then(response => {
//   // Check if the response status is 200
//   if (response.status === 200) {
//     return response.json();  // If successful, parse the JSON response
//   } else {
//     return Promise.reject('Error: ' + response.status);  // If error, reject with the status code
//   }
// })
// .then(data => {
//   alert('File and target column submitted successfully!');  // Alert success
// });
//
// closeModal();
//     window.location.href = '/'; // Redirect to index
//
// }


const dropArea = document.querySelector('.border-container');

dropArea.addEventListener('dragover', (e) => {
  e.preventDefault();
  dropArea.style.backgroundColor = '#dcdcdc';
});

dropArea.addEventListener('dragleave', (e) => {
  e.preventDefault();
  dropArea.style.backgroundColor = 'rgb(239, 239, 239)';
});

dropArea.addEventListener('drop', (e) => {
  e.preventDefault();
  dropArea.style.backgroundColor = 'rgb(239, 239, 239)';
  const files = e.dataTransfer.files;
  document.getElementById('file-upload').files = files;
  document.getElementById('sbmtbtn').style.display = '';
});


function handleErrors(message) {
  alert(message);
}


</script>
