
{% load static %}

   <!--**********************************
            Nav header start
        ***********************************-->
<div data-nav-headerbg="color_11" >
        <div class="nav-header" >
            <div class="brand-logo">
                <a href="{% url 'index' %}">
                    <b class="logo-abbr"><img src="{% static 'images/logo.png' %}" alt=""> </b>
                    <span class="logo-compact"><img src="{% static './images/logo-compact.png' %}" alt=""></span>
                    <span class="brand-title">
                        <img src="{% static 'images/theMLHubLogo.png' %}" style="width: 160px" alt="">
                    </span>
                </a>
            </div>
        </div>
</div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

<!--                <div class="nav-control">-->
<!--                    <div class="hamburger">-->
<!--                        <span class="toggle-icon"><i class="icon-menu"></i></span>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="header-right">
                    <ul class="clearfix">

                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="{{ MEDIA_URL }}{{ user.profile_picture_path }}" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="{% url 'app_profile' %}"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>

                                        <hr class="my-2">
                                        <li><a href="{% url 'page-login' %}"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

