<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Regression Models</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <div id="main-wrapper" style="min-height: 130vh !important;">
        {% include "navbar.html" %}
        {% include "sideBar.html" %}

        <div class="content-body">
            <div class="container-fluid">
                <h3 style="padding: 10px">Choose a Machine Learning Model To Train</h3>
                <div class="row">

                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                    </span>
                                    <h2 class="mt-1">Linear Regression</h2>
                                    <p>Regression</p>
                                    <button class="btn gradient-8 btn-md border-0 btn-rounded px-5"
                                            onclick="openModal(this)">
                                        Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                    </span>
                                    <h2 class="mt-1">Logistic Regression</h2>
                                    <p>Binary Classification</p>
                                    <button class="btn gradient-8 btn-md border-0 btn-rounded px-5"
                                            onclick="openModal(this)">
                                        Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="display-5">
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                    </span>
                                    <h2 class="mt-1">LightGBM</h2>
                                    <p>Regression</p>
                                    <button class="btn gradient-8 btn-md border-0 btn-rounded px-5"
                                            onclick="openModal(this)">
                                        Train
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% include "footer.html" %}
    </div>

    <!-- Modal -->
    <div class="modal" id="trainModal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="trainModalLabel">Train Model</h5>
                    <button type="button" class="btn-close" onclick="closeModal()">×</button>
                </div>
                <div class="modal-body">
                    <form id="trainForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="modelName" class="form-label">Model</label>
                            <input type="text" class="form-control" id="modelName" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="ChosentrainingFile" class="form-label">Select Training Dataset</label>
                            <select style="width: 100% ; padding: 6px" name="ChosentrainingFile" id="ChosentrainingFile">
                                {% for file in processeddatasets %}
                                    {% if file.raw_dataset.TargetColumn %}
                                        <option value="{{file.id}}">{{file.raw_dataset.datasetCostumName}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Hyperparameter Tuning Type (manual or automatic) -->
                        <div class="mb-3">
                            <label for="tuningType" class="form-label">Hyperparameter Tuning</label>
                            <select id="tuningType" class="form-control" onchange="toggleHyperparameters()">
                                <option value="auto">Automatic</option>
                                <option value="manual">Manual</option>
                            </select>
                        </div>

                        <!-- Manual Hyperparameters Inputs (hidden by default) -->
                        <div id="manualParams" style="display: none;">
                            <!-- Parameters for Linear Regression -->
                            <div id="linearRegressionParams" style="display: none;">
                                <div class="mb-3">
                                    <label for="n_jobs" class="form-label">Number of Jobs</label>
                                    <input type="number" class="form-control" id="n_jobs" name="n_jobs" value="3" step="3">
                                </div>
                            </div>

                            <!-- Parameters for Logistic Regression -->
                            <div id="logisticRegressionParams" style="display: none;">
                                <div class="mb-3">
                                    <label for="max_iter" class="form-label">Max Iteration</label>
                                    <input type="number" class="form-control" id="max_iter" name="max_iter" value="2000" step="2000">
                                </div>
                            </div>

                            <!-- Parameters for LightGBM -->
                            <div id="lightGBMParams" style="display: none;">
                                <div class="mb-3">
                                    <label for="learningRate" class="form-label">Learning Rate</label>
                                    <input type="number" class="form-control" id="learningRate" name="learningRate" step="0.01" value="0.01">
                                </div>
                                <div class="mb-3">
                                    <label for="numLeaves" class="form-label">Number of Leaves</label>
                                    <input type="number" class="form-control" id="numLeaves" name="numLeaves" value="31">
                                </div>
                                <div class="mb-3">
                                    <label for="featureFraction" class="form-label">Feature Fraction</label>
                                    <input type="number" class="form-control" id="featureFraction" name="featureFraction" step="0.01" value="0.9">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                    <button type="button" class="btn btn-primary" onclick="startTraining()">Start Training</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }
        .modal-dialog {
            background: transparent;
            border-radius: 5px;
            width: 100%;
            max-width: 500px;
            padding: 20px;
        }
        .modal-content {
            position: relative;
            background: white;
            border-radius: 10px;
        }
        .modal-header, .modal-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .btn-close {
            background: transparent;
            border: none;
            font-size: 1.5rem;
            line-height: 1;
            cursor: pointer;
        }
    </style>

    <script>
        function openModal(clickedmodel) {
            modelNameElement = clickedmodel.parentNode.querySelector('h2');
            document.getElementById('modelName').value = modelNameElement.innerText;
            const modal = document.getElementById('trainModal');
            modal.style.display = 'flex'; // Show modal
            showModelParams(modelNameElement.innerText);
        }

        function closeModal() {
            const modal = document.getElementById('trainModal');
            modal.style.display = 'none'; // Hide modal
        }

        function toggleHyperparameters() {
            const tuningType = document.getElementById('tuningType').value;
            const manualParams = document.getElementById('manualParams');

            if (tuningType === 'manual') {
                manualParams.style.display = 'block';
            } else {
                manualParams.style.display = 'none';
            }
        }

        function showModelParams(modelName) {
            document.getElementById('linearRegressionParams').style.display = 'none';
            document.getElementById('logisticRegressionParams').style.display = 'none';
            document.getElementById('lightGBMParams').style.display = 'none';

            if (modelName === "Linear Regression") {
                document.getElementById('linearRegressionParams').style.display = 'block';
            } else if (modelName === "Logistic Regression") {
                document.getElementById('logisticRegressionParams').style.display = 'block';
            } else if (modelName === "LightGBM") {
                document.getElementById('lightGBMParams').style.display = 'block';
            }
        }

        function startTraining() {
            modelName = document.getElementById("modelName").value;
            if (modelName === 'LightGBM'){
                modelName = "Regression LightGBM"
            }


            // Get the selected dataset ID and model name from the DOM
            const fileId = document.getElementById('ChosentrainingFile').value;

            if (! fileId ){
               alert('Please select a file to train.');
                return;
            }

            const params = {
                auto: document.getElementById("tuningType").value === "manual" ? 'false' : 'true' ,
                n_jobs: document.getElementById("n_jobs") ? document.getElementById("n_jobs").value : undefined,
                max_iter: document.getElementById("max_iter") ? document.getElementById("max_iter").value : undefined,
                learningRate: document.getElementById("learningRate") ? document.getElementById("learningRate").value : undefined,
                numLeaves: document.getElementById("numLeaves") ? document.getElementById("numLeaves").value : undefined,
                featureFraction: document.getElementById("featureFraction") ? document.getElementById("featureFraction").value : undefined
            };

            // Creating the form dynamically and submitting it
            const form = document.createElement("form");
            const csrfInput = document.createElement("input");
            csrfInput.type = "hidden";
            csrfInput.name = "csrfmiddlewaretoken";
            csrfInput.value = "{{ csrf_token }}";
            form.appendChild(csrfInput);

            // Add the hidden input for the params
            const paramsInput = document.createElement("input");
            paramsInput.type = "hidden";
            paramsInput.name = "params";
            paramsInput.value = JSON.stringify(params);
            form.appendChild(paramsInput);

            // Append the form to the document
            document.body.appendChild(form);

            // Set the URL and submit the form
            const url = `/train_model/${modelName}/${fileId}/supervised/`;
            form.method = "POST";
            form.action = url;
            form.submit();

            // Close the modal (optional)
            closeModal();

            // Start the preloader animation
            const preloader = document.getElementById("preloader");
            preloader.style.display = "block";
        }
    </script>

    <script src="{% static 'plugins/common/common.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/gleek.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>

</body>

</html>
