{% load static %}

      <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                       <a href="{% url 'index' %}">
                           <i class="icon-home menu-icon"></i><span class="nav-text">Home</span>
                       </a>
                    </li>


                    <li class="nav-label">Datasets</li>
                    <li>
                            <a href="{% url 'uploadDataFile' %}" ><i class="icon-cloud-upload menu-icon"></i>Upload Data</a>
                    </li>
                    <li>
                            <a href="{% url 'uploadedFiles' %}" > <i class="icon-folder-alt menu-icon"></i>My DataSets</a>
                    </li>

                    <li class="nav-label">Supervised</li>
                    <li>
                            <a href="{% url 'classification' %}" ><i class="icon-tag menu-icon"></i>Classification Models</a>
                       </li>
                    <li>
                        <a href="{% url 'regression' %}" ><i class="icon-vector menu-icon"></i>Regression Models</a>
                    </li>

                    <li class="nav-label">UnSupervised</li>
                    <li>
                            <a href="{% url 'clustering' %}" ><i class="icon-grid menu-icon"></i>Clustering Models</a>
                    </li>

                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
